body{
  font: 16px "Open Sans",Helvetica,Arial,sans-serif;
  min-width:60%;
  background-color:#C1CDCD; 
}

.container{
  border-bottom: 4px solid #e1e0de;
}

.container:after{
  content: '';
  display: block;
  clear: both;
}

.good{
    background:green;
    padding:1px;
    margin-bottom: 5px;
   
}

.good p{
    padding-left:25%;
}

.error{
    background:red;
    padding:1px;
    margin-bottom: 5px;
}

.error p{
    padding-left:25%;
}

.home{  
  float:left;
  margin-top: 8px;
  margin-left: 50px;
  min-width: 9%;
}

.home a:hover{
  background: #F0FFFF;
  border: solid #42526C;
  border-radius: 5px;
  padding:5px;  
}

.form{ 
  float: left;
  min-width: 40%;
  padding-left: 10px;
}

.form input[type="submit"]{
  border: solid #42526C;
  background: #fcfcfc;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  margin-left:10px;
  text-transform: uppercase;
} 

.form input[type="text"]{
  background: #fcfcfc;
  border: solid #42526C;
  border-radius: 5px;
  padding: 5px 20px;
  width: 50%;
  font-size: 15px;
  margin-bottom: 10px;
} 

.commentForm input[type='text']{
  font-size: 17px;
  width:60%;
}

.statusArticle{
  float: left;
  margin-top: 8px;
  min-width: 10%;
}

.statusArticle a:hover{
  background: #F0FFFF;
  border: solid #42526C;
  padding: 5px;
  border-radius: 5px;
}

.searchForm input{
  background: #fcfcfc;
  border: solid #42526C;
  border-radius: 5px;
  padding: 5px 10px;
  width: 30%;
  font-size: 15px;
  margin-bottom: 10px;
}

.articles{
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 50px;
  padding: 10px 0 10px;
  width: 24%;
  vertical-align: top;
  border-bottom: 4px solid #e1e0de;
}

.address{
    margin-top: 20px;
}

.delete{
  display: inline-block;
  margin-top: 8px;
  margin-right: 10px;
}

.delete a:hover{
  background: #F0FFFF;
  border: solid #42526C;
  padding: 5px;
  border-radius: 5px;
}

.article{
  padding: 10px 10%;
  width: 80%;
}

.readStatus{
  display: inline-block;
}

.readStatus a:hover{
  background: #F0FFFF;
  border: solid #42526C;
  padding: 5px;
  border-radius: 5px;
}

.bookmark{
    margin-top: 30px;
}

.bookmark a:hover{
  color:#42526C;
}

h2{
  margin-left: 25%;
}

